.navbar_container {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.home_button {
  background: none;
  border: none;
  margin-top: 2em;
  font-size: 1.2em;
  color: var(--accent-color-light);
  width: fit-content;
  padding: 0.5em 1em 0.5em 1em;
  border-bottom: 1px solid var(--accent-color-light);
  transition: border 0.6s linear;
  transition: border-radius 0.6s linear;
}

.home_button:hover {
  border: 1px solid var(--accent-color-light);
  border-radius: 2em;
}
